.messageContainer {
  /* display: flex; */
  /* justify-content: flex-start; */
  display: block;
  padding: 0 5%;
  margin-top: 3px;
  height: initial;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.backgroundBlue {
  color: rgb(0, 0, 0);
}

.backgroundWhite {
  color: white;
}

#messageBoard {
  height: 800px;
  padding: 20px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.messageContainer p {
  display: inline;
}

.textContainer {
  display: inline;
  width: initial;
}