.form {
  display: flex;
  height: 5rem;
}

.input {
  border-bottom: 1px solid black;
  /* border-radius: 5px; */
  padding-left: 2rem;
  width: 80%;
  font-size: 2rem;
  height: 4.5rem;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #5C6B73;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
  /* border-bottom-right-radius: 3px; */
  font-size: 30px;
  font-weight: bold;
}